/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #828181;
    color: #fff;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #828181;
}

.logo img {
    width: 75px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #414141;
    font-weight: bold;
}

/* Hero Section Styles */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('images/hero.jpg') no-repeat center center/cover;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.cta-button {
    padding: 10px 20px;
    background-color: #ff660000;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
}

/* Content Section Styles */
.content {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}
